@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Page settings */
:root{
	--color-white: #F4F4F4;
	--color-gray: #181818;
	--color-gray-l: #5D5D5D;
	--color-gray-ll: #9A9A9A;
	--color-gray-d: #121212;
	--color-green: #1ED760;
	--color-yellow: #FCCA00;
	--color-red: #FC3F1D;

	--header-height: 45px;
	--footer-height: 25px;
	--app-padding: 20px;
	--transition-opacity: opacity 0.3s ease-in-out;
}

body{
	background: var(--color-gray-d);
	height: 100vh;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	color: var(--color-white);
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	user-select: none;
}

/* Application */
.app{
	border-radius: 8px;
	background: var(--color-gray);
	width: 100%;
	max-width: 800px;
	height: 100%;
	max-height: 500px;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: calc(var(--header-height) + var(--app-padding)) 1fr calc(var(--footer-height) + var(--app-padding));
	overflow: hidden;
}

/* Application header */
header{
	height: var(--header-height);
	padding: var(--app-padding) var(--app-padding) 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .app_logo{
	color: var(--color-gray-l);
	font-size: 34px;
	font-weight: 600;
}
header .transfer_music{
	padding: 6px 0 0;
	transition: var(--transition-opacity);
}
header .transfer_music .logo{
	width: 24px;
}
header .transfer_music .transfer_icon{
	margin: 0 5px;
}

/* Application content */
main{
	padding: var(--app-padding);
}
section{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: var(--transition-opacity);
}
section.hidden{
	display: none;
}
section .transfer_types{
	margin: 45px 0;
}
section .text + .radio{
	margin-top: 30px;
}

/* Preloader shown */
section.preloader{
	border: 8px solid var(--color-green);
	border-bottom-color: var(--color-gray-l);
	border-radius: 50%;
	width: 110px;
	height: 110px;
	opacity: 0;
	position: absolute;
	top: calc(50% - 55px);
	left: calc(50% - 55px);
	z-index: -1;
	transition: var(--transition-opacity);
}
.app.processing section{
	pointer-events: none;
}
.app.processing section.preloader{
	opacity: 1;
	z-index: 10;
	animation: spin 2s linear infinite;
}

/* Application footer */
footer{
	height: var(--footer-height);
	padding: 0 var(--app-padding) var(--app-padding);
	display: flex;
	align-items: flex-end;
}
footer .back{
	cursor: pointer;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.06);
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition-opacity);
}
footer .back img{
	pointer-events: none;
	width: 14px;
	opacity: 0.3;
	filter: invert(100%);
}
footer .back:hover{
	background: rgba(255, 255, 255, 0.1);
}

/* App start */
.app_start header .transfer_music,
.app_start footer .back{
	pointer-events: none;
	opacity: 0;
}

/* Spin keyframe */
@keyframes spin{
	50%{
		border-color: var(--color-yellow);
		border-bottom-color: var(--color-gray-l);
	}
	100%{
		border-color: var(--color-green);
		border-bottom-color: var(--color-gray-l);
		transform: rotate(360deg);
	}
}
