@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Common */
:root{
	--color-white: #F4F4F4;
	--color-gray: #181818;
	--color-gray-l: #5D5D5D;
	--color-gray-ll: #9A9A9A;
	--color-gray-d: #121212;
	--color-green: #1ED760;
	--color-yellow: #FCCA00;

	--header-height: 45px;
	--footer-height: 45px;
	--app-padding: 20px;
}
body{
	background: var(--color-gray-d);
	height: 100vh;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	color: var(--color-white);
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.app{
	border-radius: 8px;
	background: var(--color-gray);
	width: 100%;
	max-width: 800px;
	height: 100%;
	max-height: 500px;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: calc(var(--header-height) + var(--app-padding)) 1fr calc(var(--footer-height) + var(--app-padding));
	overflow: hidden;
}

/* Screen text */
.screen_title{
	margin: 25px 0 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.4em;
}
.screen_description{
	margin: 15px 0 0;
	color: var(--color-gray-ll);
	line-height: 1.6em;
}

/* Buttons */
.btn{
	cursor: pointer;
	border-radius: 4px;
	width: 100%;
	max-width: 300px;
	height: 40px;
	color: var(--color-gray);
	font-weight: 600;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn.green{
	background: var(--color-green);
}
.btn.yellow{
	background: var(--color-yellow);
}
.btn.gradient{
	background: linear-gradient(90deg, var(--color-green) 0%, var(--color-yellow) 75%);
}
.btn.with_margin{
	margin: 25px 0 0;
}
.btn:hover{
	filter: brightness(110%);
}

/* Transfer music image */
.transfer_music{
	display: flex;
	align-items: center;
}
.transfer_music .logo{
	width: 110px;
}
.transfer_music .transfer_icon{
	margin: 0 20px;
	opacity: 0.3;
	filter: invert(100%);
}

/* App header */
header{
	height: var(--header-height);
	padding: var(--app-padding) var(--app-padding) 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .app_logo{
	color: var(--color-gray-l);
	font-size: 34px;
	font-weight: 600;
}
header .transfer_music{
	padding: 6px 0 0;
}
header .transfer_music .logo{
	width: 24px;
}
header .transfer_music .transfer_icon{
	margin: 0 5px;
}

/* Main content */
main{
	padding: var(--app-padding);
}

/* Main screen */
section.main_screen{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section.main_screen .text{
	max-width: 550px;
}

/* App footer */
footer{
	height: var(--footer-height);
	padding: 0 var(--app-padding) var(--app-padding);
	display: flex;
	align-items: flex-end;
}
footer .back{
	cursor: pointer;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.06);
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer .back img{
	width: 14px;
	opacity: 0.3;
	filter: invert(100%);
}
footer .back:hover{
	background: rgba(255, 255, 255, 0.1);
}